
body {
	background-color: gainsboro;
}

h1 {
	color: blue;
}

/* - - - - - - - - - - - - */
/* - - - CALCULATRICE - - - */
/* - - - - - - - - - - - - */

#calc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: black;
	width: 200px;
	height: 230px;
	border-radius: 10px;
	border-style: outset;
	/*padding: 15px;*/
	/*text-align: center;*/
	/*align-items: center;*/
	
}

#calcElements {
	/*border: 1px solid red;*/
	align-items: center;
	/*justify-content: center;*/
}

.calcLigne {
	display: flex;
	/*border: 1px solid red;*/
	justify-content: center;
}



/* - - - afficheur - - - */

/* placer le texte du placeholder de la calculatrice à droite */
#afficheur::placeholder {
	text-align: right;
}

#afficheur {
	margin: 10px;
}



/* - - - boutons - - - */

#calc button {
	margin: 5px;
}

#calc button:active {
	background-color: white;
}

.digits {
	background-color: lightgrey;
	width: 30px;
}

#digit0 {
	width: 70px;
}

.operateurs {
	background-color: orange;
	width: 30px;
}

.operateurs:selected {
	background-color: white;
}

.modifieurs {
	background-color: slategrey;
	width: 70px;
}
